div.selection {
  font-size: 22px;
  display: block;
  text-align: center;
  padding-top: 5%;
}

ion-card ion-item ion-avatar img {
  max-width: 10rem !important;
  max-height: 10rem !important;
  border-radius: 0 !important;
}

.item-description {
  white-space: normal !important;	
}